@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(23, 33, 43, 0.9), rgb(23, 33, 43)), url("./assets/Toronto-view3.png");
  background-size: cover;
}
